.mat-mdc-button-base {
  margin: 8px 8px 0px 0;
}


.funcionario-box{
  width: 100%;
  gap: 15px;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  margin-bottom: 2rem;
}


